parameters:
    level: max

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    paths:
        - /source/src
    bootstrapFiles:
        - phar:///source/vendor/PocketMine-MP.phar/vendor/autoload.php
    scanDirectories:
        - /source/src/